<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="C:\Logs\Nlog\nlog-internal.log">

	<targets>
		<target xsi:type="File" name="file" fileName="C:\Logs\WebApi\${shortdate}.log"
				layout="${longdate} ${ndc} ${uppercase:${level}} ${logger} - ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"
				archiveEvery="Sunday"
				maxArchiveFiles="20"
				archiveFileName="C:\Logs\WebApi\Archive\{#}.log"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="dd-MM-yyyy"
				archiveAboveSize="10485760"
				autoFlush ="true"
			  />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>

